module.exports = {
  apps: [
    {
      name: "backend",
      script: "./server.js",
      watch: true
    },
    {
      name: "nginx",
      script: "nginx",
      args: "-g 'daemon off;'"
    }
  ]
};
